html{
  font-family: 'Varela Round', sans-serif;
  font-family: 'Baloo Tammudu 2', cursive;
}
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 580px;
}

.item {
  width: 32%;
  margin-bottom: 2%; 
}

/* Reorder items into rows */
.item:nth-child(3n+1) { order: 1; }
.item:nth-child(3n+2) { order: 2; }
.item:nth-child(3n)   { order: 3; }

/* force new columns, not sure it worked */
.container::before,
.container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}
img{
  object-fit: cover;
  width: 100%;
  height: 100px;
  color: #CAD0D2;
}